{
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },
    "parser": "babel-eslint",
    "extends": [
        "eslint:recommended"
    ],
    "rules": {
        "no-new-func": "off",
        "indent": [
            "warn",
            4
        ],
        "quotes": [
            "warn",
            "double"
        ],
        "semi": [
            "warn",
            "always"
        ],
        "no-console": "warn",
        "no-cond-assign": "off",
        "no-irregular-whitespace": "off"
    }
}
